
ul>li>a.laws {
  font-weight: bolder;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  font-size: 20px;
  transition: 0.3s;
}

ul {
  list-style-type: none;
}

.law-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-header {
 background-color: aqua;
 display: flex;
 justify-content: center;
}

h1 {
  padding: 50px;
}

.law-box {
  border-top: 1px solid #cdcbcb;
  border-bottom: 1px solid #cdcbcb;
  box-shadow: 5px 10px #cdcbcb;
  padding: 15px;
  width: 100vw;
  margin: auto;
}



h5 {
  word-break: break-word;
  font-weight: 400;
  font-size: 16px;
  width: 600px;
  margin: auto;
  margin-bottom: 15px;
}

.themis-text {
  word-break: break-word;
  font-size: 14px;
  font-weight: 300;
  width: 600px;
  margin: auto;
  margin-top: 15px;
}

.law-aside {
  display: flex;
  margin: auto;
}

/* ACCORDION */
/*  .accordion-item:hover .accordion-item-content,
 .accordion-item--default{
  height: 7em;
}


.accordion-item-content {
  height: 0;
  overflow: hidden;
  transition: height .25s;
} */



/* .accordion {
  width: 40%;
  display: contents;
} */

.accordion1
.accordion2
.accordion3
.accordion4
 .accordion-item, 
.accordion-item1, 
.accordion-item2,
.accordion-item3,
.accordion-item4 {
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  border: 1px solid #666;
  padding: 1em;
  color: #eee;
  margin: 25px;
  width: 220px;

}

.accordion-h6 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: black;
}

.accordion-p {
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.accordion-p:hover {
  font-size: 16px;
  transition: 0.3s;
  width: fit-content;
}

.accordion-p-q {
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}

input .text {
  width: 180px;
  margin-top: 10px;
}

.thumbnail {
  margin: 15px;
  display: inline-flex;
  justify-content: center;
}

.thumbnail:hover {
  width: 35px;
  height: 35px;
  z-index: 999;
  transition: 0.3s;
}

.accordion1 .accordion-item1/* :nth-child(1) */ {
  background-color: hsl(200, 80%, 60%);
  background-image: linear-gradient(-90deg, hsl(200, 80%, 60%), hsl(200, 80%, 45%) 2em, hsl(200, 80%, 60%));
}

 .accordion-item1:hover .accordion-item-content1,
 .accordion-item1--default {
   height: 7em;
 }

 .accordion-item-content1 {
   height: 0;
   overflow: hidden;
   transition: height .25s;
 }

.accordion2 .accordion-item2/* :nth-child(2) */ {
  background-color: hsl(280, 60%, 45%);
  background-image: linear-gradient(-90deg, hsl(280, 80%, 60%), hsl(280, 60%, 45%) 2em, hsl(280, 80%, 60%));
}
 .accordion-item2:hover .accordion-item-content2,
 .accordion-item2--default {
   height: 7em;
 }

 .accordion-item-content2 {
   height: 0;
   overflow: hidden;
   transition: height .25s;
 }

.accordion3 .accordion-item3 {
  background-color: hsl(40, 80%, 40%);
  background-image: linear-gradient(-90deg, hsl(40, 80%, 60%), hsl(40, 80%, 45%) 2em, hsl(40, 80%, 60%));
}

 .accordion-item3:hover .accordion-item-content3,
 .accordion-item3--default {
   height: 7em;
 }

 .accordion-item-content3 {
   height: 0;
   overflow: hidden;
   transition: height .25s;
 }

.accordion4 .accordion-item4 {
  background-color: hsl(80, 40%, 40%);
  background-image: linear-gradient(-90deg, hsl(80, 80%, 40%), hsl(80, 80%, 35%) 2em, hsl(80, 80%, 40%));
}
 .accordion-item4:hover .accordion-item-content4,
 .accordion-item4--default {
   height: 7em;
 }

 .accordion-item-content4 {
   height: 0;
   overflow: hidden;
   transition: height .25s;
 }


@media only screen and (max-width: 736px) {
  .law-aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}