
.parallax {
  /* The image used */
  background-image: url("imagesnh/taras-shypka-iFSvn82XfGo-unsplash.jpg");
  /* Set a specific height */
  height: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}



#flik a{
  color: rgb(238, 238, 238);
}

#flik {
  padding: 1em 1em 0 1em;
  background-color: rgb(43, 43, 59);
  border-radius: 1em 0 0 0;
  
}

.topinfo{
  background-color: white;
  width: 800px;
  padding: 20px;
  margin: auto;
}

.search{
  padding: 20px;
  font-weight: bold;
}

label{
  padding: 10px;
}
.column {
  width: 800px;
  padding: 20px;
  background-color: rgb(238, 238, 238)
}

p{
  padding-right: 20px;
}

#nyheter{
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
}

.row{
   margin: auto;
   padding: 20px;
   width: 800px; 
   background-color: rgb(238, 238, 238)
}

#press{
  margin: auto;
  padding: 20px;
  width: 800px; 
  background-color: rgb(238, 238, 238)
}

#calender{
  margin: auto;
  width: 800px; 
  background-color: rgb(238, 238, 238)
}
#dropdown {
  list-style-type: none;
  background: whitesmoke;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.search{
  display: inline-block;
}

.navbar{
  margin: auto;
  width: 800px;
  color: black;
  background-color: hsl(40, 80%, 60%);
}

.infobar{
  margin: auto;
  padding: 10px;
  width: 800px;
  color: black;
  background-color: hsl(80, 40%, 40%);
}

.calenderbar{
  margin: auto;
  padding: 10px;
  width: 800px;
  color: black;
  background-color: hsl(80, 40%, 40%);

}
.calenderinfo{
  padding: 10px;
}
.video{
  height: 125px;
  width: 125px;
}
#dropdown{
  width: 160px;
  padding: 10px; 
  font-family: "Roboto", sans-serif; 
  outline: none;
}

h1{
  font-size: 30pt;
  padding: 15px;
}

h2{
  font-size: 16px;
}

a{
  color: black;
  padding: 10px;
}


@media only screens and (max-width: 414px){
  .footer{
    font-size: 0.8em;
  }
}

