* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 , h2, h3, h4, h5, p {
  padding: 1rem;
}

.big-btn {
  padding: 1rem;
  width: 50px;
  background-color: aquamarine;
  height:100px;

}

body {
  font-family: "Roboto", sans-serif;
}

#holygrail-container-om {
  background-color: lightblue;
  height: 100vh; /* varför är denna bara 100vh? Och varför är det bara border som svarar på 100vh, medan background-color tar hela bakgrunden?*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px auto 200px;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}
header {
  background-color: lightgray;
  grid-area: header;
}

#logo {
  margin: 30px;
}

nav {
  grid-area: header;
  width: 100vw;
}
#nav-bar {
  display: flex;
  justify-content: center;
}

.link-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  /* margin: 30px; */
}

#main-om {
  background-color: lightpink;
  grid-area: main;
  height: 100%;

  margin: 60px;

}

#intro {
margin;
  
}

ul > li > a {
  text-decoration: none;
  color: black;
}

aside {
  background-color: rgba(255, 235, 205, 0.411); 
  grid-area: aside;
}

.second-link-list {
  background-color: rgba(240, 248, 255, 0.411); 
  height: 100%;
  margin: 30px;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
}

.second-link-list > a {
  padding: 30px;
}



footer {
  grid-area: footer;
  height: 150px;
}