

h1 , h2, h3, h4, h5, p {
  padding: 1rem;
}

.link-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  /* margin: 30px; */
}


.parallax {
  background-color: rgb(248, 248, 248);
  width: 100vw;
  padding: 3rem;
  margin-bottom: 8rem;
}

.parallax-img {
  height: 200px;
  width: 100vw;
  background-image: url(./images/flatlay-desk.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
  
}

.center-content {
  width: 800px;
  text-align: center;
  background-color: rgb(255, 246, 206);
  grid-area: main;
  height: 100%;
  margin: auto;
  
}

.btn-center {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: auto;
}

.big-btn {
  padding: 1rem;
  margin: 2rem;
  width: 10rem;
  background-color: rgb(177, 174, 174);
  height: 4rem;
  box-shadow: rgb(238, 154, 98) 2px 3px 5px 1px ;
  border-radius: 3px;
}
.big-btn a:hover {
  color: black;
  font-size: 120%;   
}

.big-btn a:active {
  color: rgb(193, 152, 209);
}






