main {
  width: 800px;
  margin: auto;
  overflow: hidden;
  line-height: 1.4;
}
#holygrail-container {
  height: auto;
}

.pub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 30pt;
  padding: 0.5em 0;
  font-family: "Roboto" sans-serif;
}

#filter-form {
  display: flex;
  justify-content: space-between;
  margin: 4em 0;
}

#filter-form > * {
  display: grid;
}

h4 {
  padding-bottom: 10px;
}

select,
#searchPub {
  width: 170px;
  padding-left: 5px;
  font-size: 14px;
  border: 1px solid #000;
  height: 34px;
  background: whitesmoke;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("images/arrow.png") 96% / 6% no-repeat whitesmoke;
}

.push-box {
  height: 200px;
  width: 800px;
  border: 1px solid black;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.text-container > h2 > a {
  text-decoration: none;
  color: #000;
}

.text-container > p {
  max-width: 65ch;
  padding-top: 1em;
}

.publish-date {
  font-size: 9pt;
  color: #3d3a3a;
}

#page-intro {
  margin-top: 4em;
  font-family: "Open sans" sans-serif;
}

.hover-box {
  position: relative;
  width: 14%;
}

.hover-box > img {
  display: block;
  width: 100%;
  height: auto;
}

.hover-box-top-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.7s ease;
  background-color: rgb(248, 248, 40);
}

.hover-box:hover .hover-box-top-layer {
  opacity: 1;
  border: 1px solid black;
}

.hover-text {
  font-size: 12pt;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.hover-text > a {
  text-decoration: none;
  color: #000;
}

h2 > a:hover,
.hover-text:hover {
  text-decoration: underline;
}

.center-number {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 2em 0em;
}

.pagination > a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid #000;
  margin: 0 4px;
}

.pagination > a.active {
  background-color: yellow;
  border: 2px solid #000;
}

.pagination > a:hover:not(.active) {
  background-color: whitesmoke;
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  main {
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2em 0;
  }

  .search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  h4 {
    padding-top: 1em;
  }
  .pub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .push-box {
    width: 600px;
    height: 100px;
  }

  h2 {
    font-size: 1em;
  }

  .text-container {
    display: flex;
    align-items: center;
    font-size: 1.3em;
  }

  .description-text,
  .publish-date {
    display: none;
  }

  .hover-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 10%;
    height: 100%;
  }

  .pagination > a {
    padding: 12px 25px;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  main {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #filter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2em 0;
  }

  .search-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h4 {
    padding-top: 1em;
  }

  .pub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .push-box {
    width: 300px;
    height: 120px;
  }

  .text-container {
    display: flex;
    align-items: center;
  }

  .description-text,
  .publish-date {
    display: none;
  }

  h2 {
    max-width: 20ch;
    font-size: 1em;
  }

  .hover-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 100%;
  }

  .noShow {
    display: none;
  }
}
