.pub-container {
  display: flex;
  justify-content: center;
  border: 2px solid blue;
}

.push-box {
  width: 100%;
  border: 2px solid green;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
}

#page-intro {
  margin: 4em 1em;
  font-family: "Open sans" sans-serif;
}

h1 {
  padding-bottom: 1em;
  font-family: "Roboto" sans-serif;
}

.filter-form {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 1em;
  padding-bottom: 2em;
}

select {
  margin: 1em;
  width: 170px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #000;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url("images/arrow.png") 96% / 6% no-repeat whitesmoke;
}

/* @media  */

/* .push-box:nth-child(1) {
  flex-direction: row-reverse;
  border: 2px solid red;
} */
