#holygrail-container {
    display: grid;
    grid-template-areas:
        ‘header header header’ 
        ‘main main aside’ 
        ‘footer footer footer’;
}

header {
    grid-area: header;
}

nav {
    grid-area: header;
}


main {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}