* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


body {
  font-family: "Roboto", sans-serif;
}

#holygrail-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px auto 200px;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
}
header {
  grid-area: header;
}

#logo {
  margin: 30px;
}

nav {
  grid-area: header;
  width: 100vw;
}
#nav-bar {
  display: flex;
  justify-content: center;
}

.link-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  /* margin: 30px; */
}

main {
  grid-area: main;
  height: 100%;
  width: 100vw;
}

ul > li > a {
  text-decoration: none;
  color: black;
}

aside {
  grid-area: aside;
}

.second-link-list {
  height: 100%;
  margin: 30px;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
}

.second-link-list > a {
  padding: 30px;
}

/* footer {
  grid-area: footer;
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin: 0px auto;
  width: 80%;
} */

/* FOOTER-BRANCH-WORK */
footer {
  grid-area: footer;
  height: 200px;
  background-color: rgb(43, 43, 59);
  margin: 0px auto;
  width: 100%;
  display: flex;
  color: rgb(209, 208, 208);
  font-size: 14px;
  justify-content: center;
}
.footer-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  width: auto;
}
footer a{
  color: rgb(209, 208, 208);
  font-weight: 600;
  margin: 3px 0;
}
footer a:hover{
  font-size: 0.9rem;
}
footer h3 {
  margin-bottom: 10px;
}
footer p{
  max-width: 130px;
}
footer h4 {
  margin: 10px 5px 0 0;
}
#play-icon {
  width: 20px;
  height: 20px;  
  margin-right: 5px;
}
#youtube {
  display: flex;
  margin-top: 10px;
}
#twitter-icon {
  height: 18px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#twitter {
  display: flex;
}
.contact {
  display: flex;
  flex-direction: column;
}
.our-web {
  display: flex;
  flex-direction: column;
}
.our-news {
  display: flex;
  flex-direction: column;
}

.footer-content {
  margin-top: 25px;
  width: 400px;
}

@media screen and (max-width: 1280px) {
  .footer-content {
   width: 300px;
  }
}

@media screen and (max-width: 890px){
  .footer-content {
    width: 100%;
    margin-left: auto;
    /* font-size: 0.8rem; */
  }
}


