* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

ul > li > a {
  text-decoration: none;
  color: black;
  border-right: 1px solid black;
  padding-right: 0.7em;
}


body {
  font-family: "Roboto", sans-serif;
}

#holygrail-container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px auto 200px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
header {
  grid-area: header;
  height:fit-content;
  background-color: rgb(238, 238, 238);
  top: 0;
  padding-bottom: 1em;
  position: sticky;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.24), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

#logo {
  margin: 30px;
}
 
#search {
  right: 40px;
  top: 10px;
  position: absolute;
}

#x-content > a {
  text-decoration: none;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#x-content {
  grid-area: header;
  float: right;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-right: 30px;
  height: 80px;
  background-color: yellow;
  background-image: linear-gradient(to left, yellow, rgb(238, 238, 238));
}

nav {
  grid-area: header;
  width: 100vw;
}

#nav-bar {
  display: flex;
  justify-content: center;
}

.link-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  box-shadow: -1px -5px 10px -5px gray;
  padding-top: 1em;
  /* margin: 30px; */
}

main {
  grid-area: main;
  height: 100%;
  width: 100vw;
}


.carrousel {
  background: #ffffff;
  text-align: center;
  padding: 4em 0;
  height: 7.5em;
  max-width: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carrousel h2 {
  margin: 0;
  margin-top: -1.7em;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #bbbbbb;
}

.carrousel .slides {
  width: 400%;
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  overflow: hidden;
  list-style: none;
  position: relative;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}

.carrousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}

.carrousel li p {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.carrousel li q {
  max-width: 90%;
  margin: auto;
  color: #666666;
  font-size: 1.3em;
  font-weight: bold;
}

.carrousel li .img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.start-img {
  width: -webkit-fill-available;
  height: 400px;
}

.carrousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  position: absolute;
  width: 104px;
  top: 65%;
  left: 50%;
}

.carrousel input {
  display: none;
}

.carrousel .slidesNavigation label {
  float: left;
  margin: 6px;
  display: block;
  height: 10px;
  width: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #2980b9;
  font-size: 0;
}

#radio-1:checked ~ .slides {
  transform: translateX(0%);
}

#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}

#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}

#radio-4:checked ~ .slides {
  transform: translateX(-75%);
}

.carrousel .slidesNavigation label:hover {
  cursor: pointer;
}

.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: #2980b9;
}


/* FOOTER */
footer {
  grid-area: footer;
  height: 200px;
  background-color: rgb(43, 43, 59);
  margin: 0px auto;
  width: 100%;
  display: flex;
  color: rgb(209, 208, 208);
  font-size: 14px;
  justify-content: center;
}
.footer-container {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  width: auto;
}
footer a {
  color: rgb(209, 208, 208);
  font-weight: 600;
  margin: 3px 0;
}
footer a:hover {
  font-size: 0.9rem;
}
footer h3 {
  margin-bottom: 10px;
}
footer p {
  max-width: 130px;
}
footer h4 {
  margin: 10px 5px 0 0;
}
#play-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#youtube {
  display: flex;
  margin-top: 10px;
}
#twitter-icon {
  height: 18px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#twitter {
  display: flex;
}
.contact {
  display: flex;
  flex-direction: column;
}
.our-web {
  display: flex;
  flex-direction: column;
}
.our-news {
  display: flex;
  flex-direction: column;
}

.footer-content {
  margin-top: 25px;
  width: 400px;
}

@media screen and (max-width: 1280px) {
  .footer-content {
    width: 300px;
  }
}

@media screen and (max-width: 890px) {
  

  footer {
    font-size: 0.8em;
    bottom: 0%;
  }

  .footer-content {
    width: 100%;
    margin-left: auto;
    /* font-size: 0.8rem; */
  }
  #logo {
    width: 6em;
    margin-bottom: 72px;
  }

  #x-content {
    font-size: 80%;
    height: 3em;
  }

  .link-list {
    font-size: 90%;
  }
}

@media (max-width: 700px){

  #flik {
    padding: 0;
    border-radius: 0;

  }

  ul > li > a {
    border: none;
    font-size: 1.2em;
    padding-bottom: 10px;
  }

  .link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1em;


  }
#x-content {
  margin-right: 0
}

#logo {
    margin: 2em 0 0 1em;
    width: 20%
    
  }

  }

@media (max-width: 480px) {
  .carrousel li p {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .carrousel li img {
    width: 2em;
    margin-left: -1em;
    margin-right: 0.25em;
  }
}




