* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#holygrail-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px auto 200px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}
header {
  grid-area: header;
<<<<<<< HEAD
  
=======
  background-color: rgb(238, 238, 238);
  top: 0;
  position: sticky;
  padding: 1em;
  box-shadow:0 3px 5px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
  z-index: 1;
}

#logo {
  margin: 30px;
}

nav {
  grid-area: header;
  width: 100vw;
}
#nav-bar {
  display: flex;
  justify-content: center;
}

.link-list {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  /* margin: 30px; */
}

main {
  grid-area: main;
  height: 100%;
  width: 100vw;
}

ul > li > a {
  text-decoration: none;
  color: black;
}



.second-link-list {
  height: 100%;
  margin: 30px;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-end;
}

.second-link-list > a {
  padding: 30px;
}

footer {
  grid-area: footer;
  height: 150px;
}
