.container { 
    display: flex;
    width: auto;
    height: auto;
    font-weight: bold;
    margin: 30px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(238, 238, 238);
  }
  
  img {
    max-width: 100%;
    width : auto;
    flex: 0 1 auto;
  }
  
  .box{
    width: 360px;
    padding: 20px;
    margin: 20px;
    height: auto;
    background-color: white;
  }

  .linkBox{
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
  }

 i  {
     float: right;
     margin-top: auto;
 }

.box-one {
    text-align: left;
    
}


  
  
  
  
  