html {
    overflow-x: hidden;
    text-align: center;
}
.contact-grid{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: auto; 
}

.contact-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 400px;
}

.info {
    grid-column: 1/2;
    grid-row: 1/2;
}
.news {
    grid-column: 2/3;
    grid-row: 1/2;
}
.billing {
    grid-column: 3/4;
    grid-row: 1/2;
}
.email-tele {
    grid-column: 1/2;
    grid-row: 2/3;
}
.visit-adress {
    grid-column: 2/3;
    grid-row: 2/3;
}
.post-adress {
    grid-column: 3/4;
    grid-row: 2/3;
}

.box {   
    width: 330px;
    height: 420px;
    margin: 50px auto;
    border-top: 5px solid rgba(253, 255, 106, 0.8); 
    padding: 10px;
}

.box a {
    text-decoration: none;
}
.box a:hover {
    color: rgb(3, 3, 141);
    text-decoration: underline;
}

.box h3 {
    margin: 10px 10px;
    font-size: 1.3rem;
}

.box h4 {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;   
}

.box p{
    margin-left: 10px;
    line-height: 20px;
}


/* Contact form styles */
.contact-form {
    text-align: center;
    width: 100%;
}

.contact-form {   
    padding: 20px;
    width: 60%;
    margin: 100px auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;   
}

.contact-form label {
    margin-top: 15px;
}

.contact-form input {
    height: 30px;
    font-size: 1.1em;
    border-radius: 25px;
    padding: 15px;
    border: 1px solid rgb(187, 187, 187);
}
.contact-form input:focus {
    border-radius: 25;
    outline: none;
    background-color: rgb(226, 226, 226);
}
.contact-form input:hover {
    background-color: rgb(226, 226, 226);
}
.required:after {
    content:"*";
    color: red;
  }

.contact-form .btn {
    background-color: rgb(49, 224, 210);
    border-radius: 25px;
    margin: auto;
    width: 50%;
    min-width: 200px;
    margin-top: 20px;
    border: none;
    height: 50px;
    cursor: pointer;
    font-size: 1.1em;
}
.contact-form .btn:hover {
    background-color: rgb(40, 184, 172);
    height: 52px;
    width: 51%;
}

.contact-form .btn:focus {
    outline: none;
    background-color: rgb(40, 184, 172);
    height: 52px;
    width: 51%;
}

.contact-form textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 20px;
    border: 1px solid rgb(187, 187, 187);
}
.contact-form textarea:focus {
    outline: none;
}
.contact-form h3 {
    margin-bottom: 30px;
}





@media screen and (max-width: 1280px){
    .contact-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; 
    } 
    .info {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .news {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .billing {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .email-tele {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .visit-adress {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .post-adress {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}



@media screen and (max-width: 720px) {
    .contact-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
    } 
    .info {
        grid-column: 1/2; 
        grid-row: 1/2;
    }
    .news {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .billing {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .email-tele {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .visit-adress {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .post-adress {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .box {
        border: none;
        border-top: 5px solid rgba(253, 255, 106, 0.8);
        height: auto;
        width: 80vw;
    }
    
}